*.min.js
node_modules/
flow-typed/
cypress/

assets/build/
assets/admin/
assets/javascripts/
assets/node_modules/
assets/sassy/

deploy/*
static/*
build/*

templates/
developer/management/commands/check_js_hint.js

gemini/screens/